@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
   
</style>

<div class="col-sm-12">
  <div class="row justify-content-center gap-3">
        <button data-bs-toggle="modal" data-bs-target="#exampleModal" id="contactus" class="btn w-auto btn-success">
            Contact Us
        </button>      
        <button id="aboutus" data-bs-toggle="modal" data-bs-target="#exampleModal1" class="btn w-auto btn-success">
            About Us
        </button>     
        <button id="privacypolicy" data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn w-auto btn-success">
            Privacy Policy
        </button> 
        <button id="termCondition" data-bs-toggle="modal" data-bs-target="#exampleModal3" class="btn w-auto btn-success">
            Term and Condition
        </button>
    </div>
</div>

<div class="container mt-4">
    <div class="table-responsive mt-3">

        <table class="table table-bordered w-100">
            <thead class="bg-success text-light">
                <tr>
                <th>Sr</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Website Url</th>
                <th>AboutUs</th>
                <th>Policy</th>
                <th>Term And Condition</th>
                </tr>
            </thead>
            <tbody>
                @if(Model!=null){
                    if(Model.data!=null){
                    <tr>
                        <td>1</td>
                        <td>@Model.data.email</td> 
                       <td>@Model.data.mobile</td> 
                        <td>@Model.data.address</td> 
                        <td>@Model.data.websiteUrl</td>
                            <td>
                                <button id="aboutus" data-bs-toggle="modal" data-bs-target="#exampleModal1" class="btn w-auto btn-sm btn-success">
                                    <i class="fas fa-eye"></i>
                                </button>
                                
                            </td>
                            <td>
                                <button id="privacypolicy" data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn btn-sm w-auto btn-success">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                            <td>
                                <button id="term" data-bs-toggle="modal" data-bs-target="#exampleModal3" class="btn btn-sm w-auto btn-success">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                    </tr>
                }
                }
            </tbody>
        </table>

    </div>
</div>


<!-- Modal contact-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Contact Detail</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="contactForm w-100">
               <div class="col-sm-12">
                   <div class="row">
                       <div class="col-sm-6">
                           Contact Number :
                                <input type="number" name="Mobile" value="@Model.data.mobile" placeholder="Enter contact number" class="form-control" />
                       </div>
                            <div class="col-sm-6">
                           Email Address :
                                <input type="email" value="@Model.data.email" name="Email" placeholder="Enter email address" class="form-control" />
                       </div>
                            <div class="col-sm-6 my-3">
                           Website Url :
                                <input type="url" name="WebsiteUrl" value="@Model.data.websiteUrl" placeholder="Enter website url" class="form-control" />
                       </div>
                            <div class="col-sm-6 my-3">
                           Address :
                                <input type="text" name="Address" value="@Model.data.address" placeholder="Enter company address" class="form-control" />
                       </div>
                   </div>  
                   <div class="text-center"><input type="submit" value="Submit" class="btn btn-success" /></div>
                   </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal About Us-->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModal1Label">About Us</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="aboutusForm w-100">
               <div class="col-sm-12">
                   <div class="row">
                       <div class="col-sm-12">
                      About us
                                <textarea name="AboutUs" class="form-control summernote">@Model.data.aboutUs</textarea>
                       </div>
                   </div>  
                   <div class="text-center mt-2"><input type="submit" value="Submit" class="btn btn-success" /></div>
                   </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Policy-->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModal2Label">Privacy Policy</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="privacyForm w-100">
               <div class="col-sm-12">
                   <div class="row">
                       <div class="col-sm-12">
                      Privacy Policy
                                <textarea name="Policy" class="form-control summernote">@Model.data.policy</textarea>
                       </div>
                   </div>  
                   <div class="text-center mt-2"><input type="submit" value="Submit" class="btn btn-success" /></div>
                   </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Term & Condition-->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModal3Label">Term And Condition</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="termConditionForm w-100">
               <div class="col-sm-12">
                   <div class="row">
                       <div class="col-sm-12">
                     Term And Condition
                                <textarea name="Termcondition" class="form-control summernote">@Model.data.termcondition</textarea>
                       </div>
                   </div>  
                   <div class="text-center mt-2"><input type="submit" value="Submit" class="btn btn-success" /></div>
                   </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

  <script>
    $(".contactForm").submit(function(e){
        e.preventDefault()
        Swal.fire({
                title: "Processing Your Request",
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                }
            })
        let formData={type:"contact"};
        let arrData=$(this).serializeArray();
        arrData.forEach(function(d){
            formData[d.name]=d.value;
        })

        $.ajax({
            url:BaseUrl+"api/admin/AddPrivacyPolicy",
            type:"post",
             headers: {
                'Authorization': `Bearer ${localStorage.getItem("Token")}`
            },
            contentType:'application/json',
            data:JSON.stringify(formData),
            success:function(res){
                if(res.status==200){
    Swal.fire({
                      title:"success",
                      text:res.message,
                      icon:"success",
                      didClose:()=>{
                          location.reload();
                      }
                  })
                }else{
                      Swal.fire({
                    title:"error",
                    text:res.message,
                    icon:"error"
                   
                })
                }
              
            },error:function(xhr){
               Swal.fire({
                    title:"error",
                    text:xhr.responseText || xhr.statusText,
                    icon:"error"
               })
            }
        })

    }) 
    $(".aboutusForm").submit(function(e){
        e.preventDefault()
        Swal.fire({
                title: "Processing Your Request",
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                }
            })
        let formData={type:"about"};
        let arrData=$(this).serializeArray();
        arrData.forEach(function(d){
            formData[d.name]=d.value;
        })

        $.ajax({
            url:BaseUrl+"api/admin/AddPrivacyPolicy",
            type:"post",
             headers: {
                'Authorization': `Bearer ${localStorage.getItem("Token")}`
            },
            contentType:'application/json',
            data:JSON.stringify(formData),
            success:function(res){
                if(res.status==200){
    Swal.fire({
                      title:"success",
                      text:res.message,
                      icon:"success",
                      didClose:()=>{
                          location.reload();
                      }
                  })
                }else{
                      Swal.fire({
                    title:"error",
                    text:res.message,
                    icon:"error"
                   
                })
                }
              
            },error:function(xhr){
               Swal.fire({
                    title:"error",
                    text:xhr.responseText || xhr.statusText,
                    icon:"error"
               })
            }
        })

    }) 
    $(".privacyForm").submit(function(e){
        e.preventDefault()
        Swal.fire({
                title: "Processing Your Request",
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                }
            })
        let formData={type:"privacy"};
        let arrData=$(this).serializeArray();
        arrData.forEach(function(d){
            formData[d.name]=d.value;
        })

        $.ajax({
            url:BaseUrl+"api/admin/AddPrivacyPolicy",
            type:"post",
             headers: {
                'Authorization': `Bearer ${localStorage.getItem("Token")}`
            },
            contentType:'application/json',
            data:JSON.stringify(formData),
            success:function(res){
                if(res.status==200){
    Swal.fire({
                      title:"success",
                      text:res.message,
                      icon:"success",
                      didClose:()=>{
                          location.reload();
                      }
                  })
                }else{
                      Swal.fire({
                    title:"error",
                    text:res.message,
                    icon:"error"
                   
                })
                }
              
            },error:function(xhr){
               Swal.fire({
                    title:"error",
                    text:xhr.responseText || xhr.statusText,
                    icon:"error"
               })
            }
        })

    })
    $(".termConditionForm").submit(function(e){
        e.preventDefault()
        Swal.fire({
                title: "Processing Your Request",
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                }
            })
        let formData={type:"termCondition"};
        let arrData=$(this).serializeArray();
        arrData.forEach(function(d){
            formData[d.name]=d.value;
        })

        $.ajax({
            url:BaseUrl+"api/admin/AddPrivacyPolicy",
            type:"post",
             headers: {
                'Authorization': `Bearer ${localStorage.getItem("Token")}`
            },
            contentType:'application/json',
            data:JSON.stringify(formData),
            success:function(res){
                if(res.status==200){
    Swal.fire({
                      title:"success",
                      text:res.message,
                      icon:"success",
                      didClose:()=>{
                          location.reload();
                      }
                  })
                }else{
                      Swal.fire({
                    title:"error",
                    text:res.message,
                    icon:"error"
                   
                })
                }
              
            },error:function(xhr){
               Swal.fire({
                    title:"error",
                    text:xhr.responseText || xhr.statusText,
                    icon:"error"
               })
            }
        })

    })
  </script>