
    

@{
    Layout = "PendingJyotishLayout";
  
}
<style>
    .image-container {
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        padding: 0.75rem;
        margin-bottom: 1rem;
        height: 140px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        background-color: white !important;
    }

        .image-container img {
            max-width: 100%;
            max-height: 120px; /* Limit image height */
            object-fit: cover;
        }

        .image-container:hover {
            box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
            transform: translateY(-5px);
        }

        .image-container label {
            font-weight: bold;
            display: block;
            margin-bottom: 0.5rem;
            text-align: center;
            font-size: 0.9rem;
        }

    #loading {
        display: none;
        margin-bottom: 1rem;
        text-align: center;
        font-size: 1.2rem;
    }


    .col-md-6,
    .col-lg-4 {
        flex: 1 0 30%;
        max-width: 30%;
        margin-bottom: 1rem;
    }

        .col-md-6.increased-width,
        .col-lg-4.increased-width {
            flex: 1 0 35%;
            max-width: 45%;
        }

    @@media (max-width: 768px) {
        .col-md-6 {
            flex: 1 0 45%;
            max-width: 45%;
        }

            .col-md-6.increased-width {
                flex: 1 0 50%;
                max-width: 50%;
            }
    }

    @@media (max-width: 576px) {
        .col-md-6 {
            flex: 1 0 100%;
            max-width: 100%;
        }

            .col-md-6.increased-width {
                flex: 1 0 100%;
                max-width: 100%;
            }
    }

    .main-container {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
    }

    .img-text {
        display: flex;
        justify-content: center;
    }
</style>
<style>
    /* For screens smaller than 576px (mobile) */
    @@media (max-width: 575.98px) {
        .container {
            padding: 0 15px;
        }

        .row {
            display: block;
        }

        .col-md-3 {
            width: 100% !important;
            margin-bottom: 15px;
        }

        .img-text {
            font-size: 14px;
        }
    }

    /* For screens between 576px and 768px (tablets) */
    @@media (min-width: 576px) and (max-width: 767.98px) {
        .col-md-3 {
            width: 50% !important;
            margin-bottom: 15px;
        }
    }

    /* For screens between 768px and 991px (medium to large tablets or small laptops) */
    @@media (min-width: 768px) and (max-width: 991.98px) {
        .col-md-3 {
            width: 33.33% !important;
        }
    }

    /* For screens above 992px (desktop) */
    @@media (min-width: 992px) {
        .col-md-3 {
            width: 20% !important;
        }
    }
</style>

<div class="container-fluid pt-4 px-4">
    <div class=" text-center  border border-1 rounded p-3">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center mb-3 fw-bold fs-2 text-primary">
                <div style="font-weight:300;"> Uploaded Documents</div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-3 col-lg-2 mb-4 increased-width">
                <a id="idProofLink">
                    <div class="image-container bg-light rounded">
                        <img id="idProof" alt="ID Proof" class="img-fluid" src="">
                    </div>
                    <div class="img-text">


                        <span>Id Proof</span>

                    </div>
                </a>
               
            </div>
            <div class="col-md-3 col-lg-2 mb-4 increased-width">
                <a id="addressProofLink">
                    <div class="image-container bg-light rounded">
                        <img id="addressProof" alt="Address Proof" src="">
                    </div>
                    <div class="img-text">

                        <span>Address Proof</span>


                    </div>
                </a>
               
            </div>
            <div class="col-md-3 col-lg-2 mb-4 increased-width" id="tenthCertificateDiv">
                <a id="tenthCertificateLink">
                    <div class="image-container bg-light rounded">
                        <img id="tenthCertificate" alt="Tenth Certificate" src="https://localhost:7118/Images/Placeholder/DocumentPlaceHolder.webp">
                    </div>
                    <div class="img-text">

                        <span>Tenth Certificate</span>
                    </div>
                </a>
               
            </div>
            <div class="col-md-3 col-lg-2 mb-4 increased-width" id="twelveCertificateDiv">
                <a id="twelveCertificateLink">
                    <div class="image-container bg-light rounded">
                        <img id="twelveCertificate" alt="Twelve Certificate" src="https://localhost:7118/Images/Placeholder/DocumentPlaceHolder.webp">
                    </div>
                    <div class="img-text">

                        <span>Twelve Certificate</span>
                    </div>
                </a>
               
            </div>
            <div class="col-md-3 col-lg-2 mb-4 increased-width">
                <a id="professionalCertificateLink">
                    <div class="image-container bg-light rounded">
                        <img id="professionalCertificate" alt="Professional Certificate" src="https://localhost:7118/Images/Placeholder/DocumentPlaceHolder.webp">
                    </div>
                    <div class="img-text">

                        <span>Professional Certificate</span>
                    </div>
                </a>
               
            </div>
        </div>

        <div class="row justify-content-center"> 
            <h5 id="registrationNumber" style="font-weight:300"></h5>
            Your profile and documents are currently under processing and verification.<br /> 
            Updates will be available within 24 to 72 hours.<br /> 
            Please check back within this timeframe for further information.
        </div>
    </div>
</div>




<script>

    $(document).ready(function () {
        async function fetchDocuments() {
            const Id = localStorage.getItem('Id');
            if (!Id) {
               location.replace('/Jyotish/Login')
                return;
            }
            var RegistrationNumber = document.getElementById('registrationNumber');
            RegistrationNumber.textContent = 'Registration No :'+'MYJYOTISHG' + Id;



            try {

                const token = localStorage.getItem('Token3');
                const imageApiUrl = BaseUrl + `Api/PendingJyotish/Documents?id=${encodeURIComponent(Id)}`; // Replace with your API endpoint for images

                const response = await $.ajax({
                    url: imageApiUrl,
                    method: 'GET',
                    headers: {
                        'Authorization': `Bearer ${token}`,
                        'Content-Type': 'application/json'
                    }
                });
                 
             


                $('#idProof').attr('src', response.data.idProof ? BaseUrl + response.data.idProof :  '/Img/SampleDoc.jpeg');
                var idLink = document.getElementById('idProofLink');
                idLink.href = BaseUrl + response.data.idProof;

                $('#addressProof').attr('src', response.data.addressProof ? BaseUrl + response.data.addressProof : '/Img/SampleDoc.jpeg');
                var addressLink = document.getElementById('addressProofLink');
                addressLink.href = BaseUrl + response.data.addressProof;
                
                if (response.data.tenthCertificate == null) 
                {
                    var tenthDiv = document.getElementById('tenthCertificateDiv');
                    tenthDiv.hidden = true;
                    var tenthLink = document.getElementById('tenthCertificateLink');
                    tenthLink.href = BaseUrl + response.data.tenthCertificate;
                }

                $('#tenthCertificate').attr('src', response.data.tenthCertificate ? BaseUrl + response.data.tenthCertificate :  '/Img/SampleDoc.jpeg');



                if (response.data.twelveCertificate == null) {
                    var tenthDiv = document.getElementById('twelveCertificateDiv');
                    tenthDiv.hidden = true;
                    var twelveLink = document.getElementById('twelveCertificateLink');
                    twelveLink.href = BaseUrl + response.data.twelveCertificate;
                }
               
                $('#twelveCertificate').attr('src', response.data.twelveCertificate ? BaseUrl + response.data.twelveCertificate :  '/Img/SampleDoc.jpeg');

               

                $('#professionalCertificate').attr('src', response.data.professionalCertificate ? BaseUrl + response.data.professionalCertificate :   '/Img/SampleDoc.jpeg');
                var ProfessionalLink = document.getElementById('professionalCertificateLink');
                ProfessionalLink.href = BaseUrl + response.data.professionalCertificate;


                $('#loading').hide();

            } catch (error) {
                console.error('Error:', error);
                $('#statusMessage').text(`Error: ${error.message}`);
            }

        }

        fetchDocuments();
    });

</script>




@* 
<style>
    .image-container {
        margin-bottom: 1rem;
        height: 150px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        background-color: white !important;
    }

    #loading {
        display: none;
        margin-bottom: 1rem;
        text-align: center;
        font-size: 1.2rem;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .col-md-6,
    .col-lg-4 {
        flex: 1 0 30%;
        max-width: 30%;
        margin-bottom: 1rem;
    }

        .col-md-6.increased-width,
        .col-lg-4.increased-width {
            flex: 1 0 35%;
            max-width: 45%;
        }

    @@media (max-width: 768px) {
        .col-md-6 {
            flex: 1 0 45%;
            max-width: 45%;
        }

            .col-md-6.increased-width {
                flex: 1 0 50%;
                max-width: 50%;
            }
    }

    @@media (max-width: 576px) {
        .col-md-6 {
            flex: 1 0 100%;
            max-width: 100%;
        }

            .col-md-6.increased-width {
                flex: 1 0 100%;
                max-width: 100%;
            }
    }

    .main-container {
        padding: 20px;
        border-radius: 10px;
    }

    .img-text {
        display: flex;
        justify-content: center;
    }

</style>
<style>
    /* For screens smaller than 576px (mobile) */
    @@media (max-width: 575.98px) {
        .container {
            padding: 0 15px;
        }

        .row {
            display: block;
        }

        .col-md-3 {
            width: 100% !important;
            margin-bottom: 15px;
        }

        .img-text {
            font-size: 14px;
        }
    }

    /* For screens between 576px and 768px (tablets) */
    @@media (min-width: 576px) and (max-width: 767.98px) {
        .col-md-3 {
            width: 50% !important;
            margin-bottom: 15px;
        }
    }

    /* For screens between 768px and 991px (medium to large tablets or small laptops) */
    @@media (min-width: 768px) and (max-width: 991.98px) {
        .col-md-3 {
            width: 33.33% !important;
        }
    }

    /* For screens above 992px (desktop) */
    @@media (min-width: 992px) {
        .col-md-3 {
            width: 20% !important;
        }
    }
</style>
<style>
    .dropify {
        border-radius: 20px;
    }

    .dropify-wrapper {
        border-radius: 20px;
    }

    .dropify-clear {
        border-radius: 50%;
    }
</style>

<div class="container-fluid  pt-4 px-4">
    <div class="text-center  border border-1 rounded p-3">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center mb-3 fw-bold fs-2 text-primary">
                <div>Upload Documents</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-lg-2 mb-4 increased-width">
                <div class="img-text">
                    <span>ID Proof</span>
                </div>
                <div class="image-container bg-light rounded">
                    <input id="idProof" name="file1" type="file" class="dropify" data-height="120" />
                </div>


            </div>
            <div class="col-md-3 col-lg-2 mb-4 increased-width">
                <div class="img-text">
                    <span>Address Proof</span>
                </div>
                <div class="image-container bg-light rounded">
                    <input id="addressProof" name="file1" type="file" class="dropify" data-height="120" />
                </div>

            </div>
            <div class="col-md-3 col-lg-2 mb-4 increased-width">
                <div class="img-text">
                    <span>10th Certificate</span>
                </div>
                <div class="image-container bg-light rounded">
                    <input id="tenthCertificate" name="file1" type="file" class="dropify" data-height="120" />
                </div>

            </div>
            <div class="col-md-3 col-lg-2 mb-4 increased-width">
                <div class="img-text">
                    <span>12th Certificate</span>
                </div>
                <div class="image-container bg-light rounded">
                    <input id="twelveCertificate" name="file1" type="file" class="dropify" data-height="120" />
                </div>

            </div>
            <div class="col-md-3 col-lg-2  increased-width">
                <div class="img-text">
                    <span>Professional Certificate</span>
                </div>
                <div class="image-container bg-light rounded">
                    <input id="professionalCertificate" name="file1" type="file" class="dropify" data-height="120" />
                </div>

            </div>
            <div class="text-center">
                <button id="uploadBtn" type="submit" class="btn btn-primary px-4">Upload</button>
            </div>
        </div>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://jeremyfagis.github.io/dropify/dist/js/dropify.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://jeremyfagis.github.io/dropify/dist/css/dropify.min.css">
<script>

    $('.dropify').dropify();

</script>


<script>
    $(document).ready(function () {
        const email = localStorage.getItem('userEmail');
        $('#jyotishEmail').val(email);

        $('#uploadBtn').click(function (event) {
            event.preventDefault(); // Prevent the default form submission

            // Check if at least one image file is selected
            const idProofFile = document.getElementById('idProof').files.length > 0;
            const addressProofFile = document.getElementById('addressProof').files.length > 0;
            const tenthCertificateFile = document.getElementById('tenthCertificate').files.length > 0;
            const twelveCertificateFile = document.getElementById('twelveCertificate').files.length > 0;
            const professionalCertificateFile = document.getElementById('professionalCertificate').files.length > 0;

            const isAnyImageSelected = idProofFile || addressProofFile || tenthCertificateFile || twelveCertificateFile || professionalCertificateFile;

            if (!isAnyImageSelected) {
                alert('Please select at least one image file to upload.');
                return;
            }

            // Create a FormData object from the form
            const formData = new FormData();
             
            // Append files to FormData
            if (idProofFile) formData.append('IdProof', document.getElementById('idProof').files[0]);
            if (addressProofFile) formData.append('AddressProof', document.getElementById('addressProof').files[0]);
            if (tenthCertificateFile) formData.append('TenthCertificate', document.getElementById('tenthCertificate').files[0]);
            if (twelveCertificateFile) formData.append('TwelveCertificate', document.getElementById('twelveCertificate').files[0]);
            if (professionalCertificateFile) formData.append('ProfessionalCertificate', document.getElementById('professionalCertificate').files[0]);

            // Add the email from the hidden field
            formData.append('JyotishEmail', email);

            const token = localStorage.getItem('Token3');

            // Send the data via AJAX
            $.ajax({
                url: "@BaseUrl" + 'Api/PendingJyotish/UploadDocument',
                type: 'POST',
                headers: {
                    'Authorization': `Bearer ${token}`
                },
                data: formData,
                processData: false, // Prevent jQuery from automatically processing the data
                contentType: false, // Prevent jQuery from setting content type, as it is handled by FormData
                success: function (result) {
                     
                    // Handle success
                    console.log('Success:', result);
                    alert('Files and data uploaded successfully!');
                },
                error: function (xhr, status, message) {
                     
                    // Handle errors
                    console.error('Error:');
                    console.error(status);
                    console.error(message);
                    console.error(xhr);
                    alert('There was a problem with your submission.');
                }
            });
        });
    });




</script>
  *@






@* 

@{
    Layout = "PendingJyotishLayout";
    var BaseUrl = "https://api.myjyotishg.in/";
}
<style>
    .image-container {
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        padding: 0.75rem;
        margin-bottom: 1rem;
        height: 170px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        background-color: white !important;
    }

        .image-container img {
            max-width: 100%;
            max-height: 120px;
            object-fit: cover;
        }

        .image-container:hover {
            box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
            transform: translateY(-5px);
        }

    .img-text {
        display: flex;
        justify-content: center;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
</style>

<div class="container-fluid pt-4 px-4">
    <div class="text-center border border-1 rounded p-3">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center mb-3 fw-bold fs-2 text-primary">
                <div>Uploaded Documents</div>
            </div>
        </div>

        <!-- Preview Section -->
        <div class="row justify-content-between" id="document-preview-section">
            <!-- ID Proof Upload Field -->
            <div class="col-md-3 col-lg-2 mb-4 increased-width">
                <div class="img-text">ID Proof</div>
                <div class="image-container bg-light rounded d-block"> 
                    <img id="idProofPreview" src="" alt="Id Proof Preview" class="w-100 mb-2"  />
                    <input id="idProofUpload" name="file1" type="file" class="dropify IdDocs" data-height="120" />
                    
                    <div class="d-flex justify-content-around">
                        <span id="idProofStatus"></span>
                        <a id="idLink" href=""><i class="fas fa-eye"></i></a>
                    </div>
                    
                </div>
            </div>

            <!-- Address Proof Upload Field -->
            <div class="col-md-3 col-lg-2 mb-4 increased-width">
                <div class="img-text">Address Proof</div>
                <div class="image-container bg-light rounded  d-block">
                    <img id="addressProofPreview" src="" alt="Address Proof Preview" class="w-100 mb-2" />
                    <input id="addressProofUpload" name="file2" type="file" class="dropify AddressDocs" data-height="120" />
                    <div class="d-flex justify-content-around">
                        <span id="addressProofStatus"></span>
                        <a id="addressLink" href=""><i class="fas fa-eye"></i></a>
                    </div>
                    
                </div>
            </div>

            <!-- Tenth Certificate Upload Field -->
            <div class="col-md-3 col-lg-2 mb-4 increased-width">
                <div class="img-text">Tenth Certificate</div>
                <div class="image-container bg-light rounded  d-block">
                    <img id="tenthCertificatePreview" src="" alt="Tenth Certificate Preview" class="w-100 mb-2" />
                    <input id="tenthCertificateFile" name="file3" type="file" class="dropify TenthDocs" data-height="120" />
                    <div class="d-flex justify-content-around">
                        <span id="tenthProofStatus"></span>
                        <a id="tenthLink" href=""><i class="fas fa-eye"></i></a>
                    </div>
                    

                </div>
            </div>

            <!-- Twelfth Certificate Upload Field -->
            <div class="col-md-3 col-lg-2 mb-4 increased-width">
                <div class="img-text">Twelfth Certificate</div>
                <div class="image-container bg-light rounded  d-block">
                    <img id="twelveCertificatePreview" src="" alt="Twelfth Certificate Preview" class="w-100 mb-2" />
                    <input id="twelveCertificateFile" name="file4" type="file" class="dropify TwelveDocs" data-height="120" />
                    <div class="d-flex justify-content-around">
                        <span id="twelveProofStatus"></span>
                        <a id="twelveLink" href=""><i class="fas fa-eye"></i></a>
                    </div>

                </div>
            </div>

            <!-- Experience Certificate Upload Field -->
            <div class="col-md-3 col-lg-2 mb-4 increased-width">
                <div class="img-text">Experience Certificate</div>
                <div class="image-container bg-light rounded  d-block">
                    <img id="professionalCertificatePreview" src="" alt="Experience Certificate Preview" class="w-100 mb-2" />
                    <input id="professionalCertificate" name="file5" type="file" class="dropify ProfessionalDocs" data-height="120" />
                    <div class="d-flex justify-content-around">
                        <span id="professionalCertificateStatus"></span>
                        <a id="professionalLink" href=""><i class="fas fa-eye"></i></a>
                    </div>
                   
                </div>
            </div>
        </div>

        <!-- Upload Button -->
        <div class="text-center">
            <button id="uploadBtn" type="submit" class="btn btn-primary px-4">Upload</button>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://jeremyfagis.github.io/dropify/dist/js/dropify.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://jeremyfagis.github.io/dropify/dist/css/dropify.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script>
    $(document).ready(function () {
       
       

        // Function to load documents from server
        async function fetchDocuments() {
            const email = localStorage.getItem('userEmail');
            const token = localStorage.getItem('Token3');
            if (!email || !token) {
                alert("Email or token not found in local storage.");
                return;
            }

            const imageApiUrl = "@BaseUrl" + `Api/PendingJyotish/Documents?email=${encodeURIComponent(email)}`;

            try {
                const response = await $.ajax({
                    url: imageApiUrl,
                    method: 'GET',
                    headers: {
                        'Authorization': `Bearer ${token}`
                    }
                });

                if (response.data.idProofStatus === "Verified") {
                    var id = document.getElementById('idProofUpload');
                    id.hidden = true;
                    $('#idProofPreview').attr('src', response.data.idProof ? "@BaseUrl" + response.data.idProof : '/Img/SampleDoc.jpeg');
                    var id = document.getElementById('idProofStatus');
                    id.textContent = "Approved";

                    const link = document.getElementById('idLink');
                    link.href = "@BaseUrl" + response.data.idProof;
                   
                    link.target = '_blank';
                } else if (response.data.idProofStatus === "Unverified") {
                    var img = document.getElementById('idProofPreview');
                    img.hidden = true;
                    var id = document.getElementById('idProofStatus');
                    id.textContent = "Pending";
                    $('.IdDocs').dropify({

                        messages: {
                            default: 'Upload max size 2MB',
                            replace: 'Drag and drop or click to replace',
                            remove: 'Remove',
                            error: 'Oops, something went wrong.'
                        },
                        error: {
                            fileSize: 'The file size is too big (max 2MB).'
                        },
                        maxFileSize: '2M',
                        defaultFile: response.data.idProof ? "@BaseUrl" + response.data.idProof : ''
                    });
                    const link = document.getElementById('idLink');
                    link.href = "@BaseUrl" + response.data.idProof;
                  
                    link.target = '_blank';
                }
                else {
                    var img = document.getElementById('idProofPreview');
                    img.hidden = true;
                    var id = document.getElementById('idProofStatus');
                    id.textContent = "Upload Docs";
                    $('.IdDocs').dropify({
                        messages: {
                            default: 'Upload max size 2MB',
                            replace: 'Drag and drop or click to replace',
                            remove: 'Remove',
                            error: 'Oops, something went wrong.'
                        },
                        error: {
                            fileSize: 'The file size is too big (max 2MB).'
                        },
                        maxFileSize: '2M',
                        defaultFile: response.data.idProof ? "@BaseUrl" + response.data.idProof : ''
                    });
                    const link = document.getElementById('idLink');
                    link.hidden = true;
                }
               

                if (response.data.addressProofStatus === "Verified") {
                    var id = document.getElementById('addressProofUpload');
                    id.hidden = true;
                    $('#addressProofPreview').attr('src', response.data.addressProof ? "@BaseUrl" + response.data.addressProof : '/Img/SampleDoc.jpeg');
                    var id = document.getElementById('addressProofStatus');
                    id.textContent = "Approved";

                    const link = document.getElementById('addressLink');
                    link.href = "@BaseUrl" + response.data.addressProof;
                 
                    link.target = '_blank';
                } else if (response.data.addressProofStatus === "Unverified") {

                    var img = document.getElementById('addressProofPreview');
                    img.hidden = true;
                    var id = document.getElementById('addressProofStatus');
                    id.textContent = "Pending";
                    $('.AddressDocs').dropify({
                        messages: {
                            default: 'Upload max size 2MB',
                            replace: 'Drag and drop or click to replace',
                            remove: 'Remove',
                            error: 'Oops, something went wrong.'
                        },
                        error: {
                            fileSize: 'The file size is too big (max 2MB).'
                        },
                        maxFileSize: '2M',
                        defaultFile: response.data.addressProof ? "@BaseUrl" + response.data.addressProof : ''
                    });
                    const link = document.getElementById('addressLink');
                    link.href = "@BaseUrl" + response.data.addressProof;
                   
                    link.target = '_blank';
                }
                else {
                    var img = document.getElementById('addressProofPreview');
                    img.hidden = true;
                    var id = document.getElementById('addressProofStatus');
                    id.textContent = "Upload Docs";
                    $('.AddressDocs').dropify({
                        messages: {
                            default: 'Upload max size 2MB',
                            replace: 'Drag and drop or click to replace',
                            remove: 'Remove',
                            error: 'Oops, something went wrong.'
                        },
                        error: {
                            fileSize: 'The file size is too big (max 2MB).'
                        },
                        maxFileSize: '2M',
                        defaultFile: response.data.addressProof ? "@BaseUrl" + response.data.addressProof : ''
                    });
                    const link = document.getElementById('addressLink');
                    link.hidden = true;
                }
                


                if (response.data.tenthProofStatus === "Verified") {
                    var id = document.getElementById('tenthCertificateFile');
                    id.hidden = true;
                    $('#tenthCertificatePreview').attr('src', response.data.tenthCertificate ? "@BaseUrl" + response.data.tenthCertificate : '/Img/SampleDoc.jpeg');
                    var id = document.getElementById('tenthProofStatus');
                    id.textContent = "Approved";
                    const link = document.getElementById('tenthLink');
                    link.href = "@BaseUrl" + response.data.tenthCertificate;
                  
                    link.target = '_blank';
                } else if (response.data.tenthProofStatus === "Unverified") {

                    var img = document.getElementById('tenthCertificatePreview');
                    img.hidden = true;
                    var id = document.getElementById('tenthProofStatus');
                    id.textContent = "Pending";
                    $('.TenthDocs').dropify({
                        messages: {
                            default: 'Upload max size 2MB',
                            replace: 'Drag and drop or click to replace',
                            remove: 'Remove',
                            error: 'Oops, something went wrong.'
                        },
                        error: {
                            fileSize: 'The file size is too big (max 2MB).'
                        },
                        maxFileSize: '2M',
                        defaultFile: response.data.tenthCertificate ? "@BaseUrl" + response.data.tenthCertificate : ''
                    });
                    const link = document.getElementById('tenthLink');
                    link.href = "@BaseUrl" + response.data.tenthCertificate;
                 
                    link.target = '_blank';
                }
                else {
                    var img = document.getElementById('tenthCertificatePreview');
                    img.hidden = true;
                    var id = document.getElementById('tenthProofStatus');
                    id.textContent = "Upload Docs";
                    $('.TenthDocs').dropify({
                        messages: {
                            default: 'Upload max size 2MB',
                            replace: 'Drag and drop or click to replace',
                            remove: 'Remove',
                            error: 'Oops, something went wrong.'
                        },
                        error: {
                            fileSize: 'The file size is too big (max 2MB).'
                        },
                        maxFileSize: '2M',
                        defaultFile: response.data.tenthCertificate ? "@BaseUrl" + response.data.tenthCertificate : ''
                    });

                     const link = document.getElementById('tenthLink');
                    link.hidden = true;
                }
               

                if (response.data.twelveProofStatus === "Verified") {
                    var id = document.getElementById('twelveCertificateFile');
                    id.hidden = true;
                    $('#twelveCertificatePreview').attr('src', response.data.twelveCertificate ? "@BaseUrl" + response.data.twelveCertificate : '/Img/SampleDoc.jpeg');

                    var id = document.getElementById('twelveProofStatus');
                    id.textContent = "Approved";

                    const link = document.getElementById('twelveLink');
                    link.href = "@BaseUrl" + response.data.twelveCertificate;
                  
                    link.target = '_blank';
                } else if (response.data.twelveProofStatus === "Unverified") {

                    var img = document.getElementById('twelveCertificatePreview');
                    img.hidden = true;
                    var id = document.getElementById('twelveProofStatus');
                    id.textContent = "Pending";
                    $('.TwelveDocs').dropify({
                        messages: {
                            default: 'Upload max size 2MB',
                            replace: 'Drag and drop or click to replace',
                            remove: 'Remove',
                            error: 'Oops, something went wrong.'
                        },
                        error: {
                            fileSize: 'The file size is too big (max 2MB).'
                        },
                        maxFileSize: '2M',
                        defaultFile: response.data.twelfthCertificate ? "@BaseUrl" + response.data.twelfthCertificate : ''
                    });
                    const link = document.getElementById('twelveLink');
                    link.href = "@BaseUrl" + response.data.twelveCertificate;
                  
                    link.target = '_blank';

                }
                else {
                    var img = document.getElementById('twelveCertificatePreview');
                    img.hidden = true;
                    var id = document.getElementById('twelveProofStatus');
                    id.textContent = "Upload Docs";
                    $('.TwelveDocs').dropify({
                        messages: {
                            default: 'Upload max size 2MB',
                            replace: 'Drag and drop or click to replace',
                            remove: 'Remove',
                            error: 'Oops, something went wrong.'
                        },
                        error: {
                            fileSize: 'The file size is too big (max 2MB).'
                        },
                        maxFileSize: '2M',
                        defaultFile: response.data.twelfthCertificate ? "@BaseUrl" + response.data.twelfthCertificate : ''
                    });
                     const link = document.getElementById('twelveLink');
                    link.hidden = true;
                }
               
                if (response.data.professionalCertificateStatus === "Verified") {
                    var id = document.getElementById('professionalCertificate');
                    id.hidden = true;
                    $('#professionalCertificatePreview').attr('src', response.data.professionalCertificate ? "@BaseUrl" + response.data.professionalCertificate : '/Img/SampleDoc.jpeg');
                    var id = document.getElementById('professionalCertificateStatus');
                    id.textContent = "Appoved";

                    const link = document.getElementById('professionalLink');
                    link.href = "@BaseUrl" + response.data.professionalCertificate;
                  
                    link.target = '_blank';


                } else if (response.data.professionalCertificateStatus === "Unverified") {

                    var img = document.getElementById('professionalCertificatePreview');
                    img.hidden = true;
                    var id = document.getElementById('professionalCertificateStatus');
                    id.textContent = "Pending";
                    $('.ProfessionalDocs').dropify({
                        messages: {
                            default: 'Upload max size 2MB',
                            replace: 'Drag and drop or click to replace',
                            remove: 'Remove',
                            error: 'Oops, something went wrong.'
                        },
                        error: {
                            fileSize: 'The file size is too big (max 2MB).'
                        },
                        maxFileSize: '2M',
                        defaultFile: response.data.professionalCertificate ? "@BaseUrl" + response.data.professionalCertificate : ''
                    });
                    const link = document.getElementById('professionalLink');
                    link.href = "@BaseUrl" + response.data.professionalCertificate;
                 
                    link.target = '_blank';
                }
                else{

                    var img = document.getElementById('professionalCertificatePreview');
                    img.hidden = true;
                    var id = document.getElementById('professionalCertificateStatus');
                    id.textContent = "Upload Docs";
                    $('.ProfessionalDocs').dropify({
                        messages: {
                            default: 'Upload max size 2MB',
                            replace: 'Drag and drop or click to replace',
                            remove: 'Remove',
                            error: 'Oops, something went wrong.'
                        },
                        error: {
                            fileSize: 'The file size is too big (max 2MB).'
                        },
                        maxFileSize: '2M',
                        defaultFile: response.data.professionalCertificate ? "@BaseUrl" + response.data.professionalCertificate : ''
                    });
                      const link = document.getElementById('professionalLink');
                    link.hidden = true;
                }
                






                // Set the image sources if available
                // $('#idProofPreview').attr('src', response.data.idProof ? "@BaseUrl" + response.data.idProof : '/Img/SampleDoc.jpeg');
                // $('#addressProofPreview').attr('src', response.data.addressProof ? "@BaseUrl" + response.data.addressProof : '/Img/SampleDoc.jpeg');
                // $('#tenthCertificatePreview').attr('src', response.data.tenthCertificate ? "@BaseUrl" + response.data.tenthCertificate : '/Img/SampleDoc.jpeg');
                // $('#twelveCertificatePreview').attr('src', response.data.twelfthCertificate ? "@BaseUrl" + response.data.twelfthCertificate : '/Img/SampleDoc.jpeg');
                // $('#experienceCertPreview').attr('src', response.data.experienceCert ? "@BaseUrl" + response.data.experienceCert : '/Img/SampleDoc.jpeg');

            } catch (error) {
                console.error('Error:', error);

            }
        }

        // Call fetchDocuments to load initial images
        fetchDocuments();

        // Preview on file select
        $('.Docs').on('change', function (event) {
            const reader = new FileReader();
            const imgPreview = $(this).siblings('img');

            reader.onload = function (e) {
                imgPreview.attr('src', e.target.result);
            };

            if (event.target.files.length > 0) {
                reader.readAsDataURL(event.target.files[0]);
            }
        });

        // Upload selected files
        $('#uploadBtn').click(function (event) {
            event.preventDefault();

            const formData = new FormData();
            const email = localStorage.getItem('userEmail');
            const token = localStorage.getItem('Token3');
            formData.append('JyotishEmail', email);

            if ($('#idProofUpload')[0].files.length > 0) {
                formData.append('IdProof', $('#idProofUpload')[0].files[0]);
            }
            if ($('#addressProofUpload')[0].files.length > 0) {
                formData.append('AddressProof', $('#addressProofUpload')[0].files[0]);
            }
            if ($('#tenthCertificateFile')[0].files.length > 0) {
                formData.append('TenthCertificate', $('#tenthCertificateFile')[0].files[0]);
            }
            if ($('#twelveCertificateFile')[0].files.length > 0) {
                formData.append('TwelfthCertificate', $('#twelveCertificateFile')[0].files[0]);
            }
            if ($('#professionalCertificate')[0].files.length > 0) {
                formData.append('ProfessionalCertificate', $('#professionalCertificate')[0].files[0]);
            }

            $.ajax({
                url: "@BaseUrl" + 'Api/PendingJyotish/UploadDocument',
                type: 'POST',
                headers: { 'Authorization': `Bearer ${token}` },
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    alert('Files and data uploaded successfully!');
                },
                error: function (xhr, status, message) {
                    alert('There was a problem with your submission.');
                }
            });
        });
    });
</script>
 *@